<div class = "d-flex justify-content-center h-100">
    <div class = "col-md-8 col-12 d-flex flex-column h-100" >
        <div class = "itemsContainer d-flex justify-content-center flex-wrap" >
             <div (click) = "viewSelectedProduct(eachProduct, i)" class = "col-md-3 col-sm-12 card m-2" *ngFor = "let eachProduct of (paginatedProductList$ | async); let i = index">
    
                <div class = "card-body" [ngStyle] = "{background: 'url(../../../../assets/images/' + getBgClass(i) +'.jpeg' }">
                   
                </div>
                
                <div class = "card-footer">
                    <span class = "blendName">
                        
                        {{eachProduct.blend_name}}
                        <span>
                            {{eachProduct.variety}}
                        </span>
                    
                    </span>
                </div>
            </div>

        </div>
        <div class = "paginationContainer mt-auto d-flex justify-content-center">
            <pagination [boundaryLinks] = "true" [directionLinks] = "true" [(ngModel)]="currentPage" [totalItems] = "productsLength" [itemsPerPage] = "10" (pageChanged) = "pageChanged($event)"></pagination>
        </div>
    </div>
</div>
