<div class = "header d-flex justify-content-center align-items-center">
  <img src = "../assets/images/icon.jpeg" alt = "coffee icon" class = "headerIcon" />
  <span class = "headerTitle"> The Coffee Shop </span>
</div>

<div class = "main-body">
  <router-outlet></router-outlet>

</div>
<div class = "footer">
  <div class="container-fluid d-flex justify-content-between text-muted">
    <span class = "small">
      &copy; 2022. TheCoffeeShop by Krishna Thirumalasetty
    </span>
    <!-- <span class="text-dark">v1.0.0</span> -->
  </div>
</div>
