.header {
    height: 60px;
    border-bottom: 1px solid #f0eeee;
    padding: 6px;
}

.headerIcon {
    width: 50px;
    height: 50px;
}

.headerTitle {
    font-family: cursive;
    font-size: 1.7rem;
    color: #6a372a;
}

.footer {
    background-color: #e4e4e4;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f0eeee;
    padding: 6px;
}

.small {
    font-size: 0.55em;
}

.main-body {
    height: calc(100vh - 82px);
    background-color: #f0eeee;
    overflow: scroll;
}